<!DOCTYPE html>

<html>
    <head>
        <title>Library</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styles.css">
    </head>

    <body>
        <header>
            <h1>LIBRARY</h1>
        </header>

        <main>
            <button id="add">ADD BOOK</button>
                <div id="card-grid">
                    <div class="card">
                        <div class="book-info">
                            <h2 class="title">Harry Potter and the Philosopher's Stones</h2>
                            <p class="author">J.K. Rowling</p>
                            <p class="page-number">233 pages</p>
                            <p class="read-info">Not read yet</p>
                        </div>
                        
                        <div class="card-buttons">
                            <button class="mark-read">Mark as read</button>
                            <button class="remove">Remove this book</button>
                        </div>
                    </div>
                </div>
        </main>
    </body>
</html>
