<!DOCTYPE html>

<html>
    <head>
        <title>Library</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styles.css">
    </head>

    <body>
        <header>
            <h1>LIBRARY</h1>
        </header>

        <main>
            <button id="add">ADD BOOK</button>
                <div id="card-grid">
                    <div class="card">
                        <div class="book-info">
                            <h2 class="title">Harry Potter and the Philosopher's Stones</h2>
                            <p class="author">J.K. Rowling</p>
                            <p class="page-number">233 pages</p>
                            <p class="read-info">Not read yet</p>
                        </div>
                        
                        <div class="card-buttons">
                            <button class="mark-read">Mark as read</button>
                            <button class="remove">Remove this book</button>
                        </div>
                    </div>
                </div>
        </main>

        <div id="overlay">
            <form id="book-form">
                <ul>
                    <li>
                        <label for="form-title">Title</label>
                        <input id="form-title" name="title" type="text" required>
                    </li>
                    <li>
                        <label for="form-author">Author</label>
                        <input id="form-author" name="author" type="text" required>
                    </li>
                    <li>
                        <label for="form-page-number">Number of pages</label>
                        <input id="form-page-number" name="page-number" type="number" required>
                    </li>
                    <li id="field-mark-read">
                        <label for="form-mark-read">I have finished this book</label>
                        <input id="form-mark-read" name="finished" type="checkbox">
                    </li>
                    <li>
                        <button type="submit">ADD</button>
                    </li>
                </ul>
            </form>
        </div>

        <script src="../static/js/library.js"></script>
    </body>
</html>
