html {
    font-size: 16px;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 248);
}

@font-face {
    font-family: "pt";
    src: url(../static/fonts/PTSerif-Regular.ttf);
}

header {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #2e84bf;
    font-family: "pt";
    font-size: 1.2rem;
}

header > h1 {
    color: white;
    margin: 0.40em 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

.add {
    margin: 1.5rem 0;
    display: inline-block;
    background: #1aac0d;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: "pt";
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.add:hover {
    background: #1dbb0e;
}

.add:active {
    background: #1ec90e;
}

#card-grid {
    margin: 1.5rem 0;
    max-width: 77vw;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 340px));
    grid-auto-rows: 450px;
}

.card {
    box-shadow: -2px 2px 6px rgba(5, 42, 77, 0.76);
    border: 2px solid #2e84bf;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > * {
    font-family: "pt";
    text-align: center;
    padding: 0 15px;
    font-weight: bold;
}

.book-info {
    height: 65%;
}

.title {
    font-size: 1.6  rem;
    color: #0d6199;
}

.author {
    font-size: 1.4rem;
    color: #0d6199;
}

.page-number {
    font-size: 1.2rem;
    color: #0c65a0;
}

.read-info {
    font-size: 1.2rem;
    color: #0c65a0;
}

.card-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
    height: 30%;
}

.card-buttons > button {
    font-size: 1.1rem;
    padding: 8px;
    font-family: "pt";
    font-weight: bold;
    border-radius: 5px;
}

.mark-read {
    border: 1px solid #2e84bf;
    background-color: white;
    color: #2e84bf;
}

.remove {
    border: none;
    color: white;
    background-color: #eb504b;
}

.mark-read:hover {
    background-color: #53b1f0;
}

.mark-read:active {
    background-color: rgb(235, 235, 235);
}

.remove:hover {
    background-color: #f35752;
}

.remove:active {
    background-color: #fa635e;
}   

#overlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    font-family: "pt";
    font-weight: bold;
    font-size: 1.2rem;
}

#book-form {
    width: 350px;
    height: 450px; 
    background-color: white;
    border: 2px solid #0d6199;
    border-radius: 10px;
    box-shadow: -2px 2px 5px #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

li {
    color: #0d6199;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li > * {
    margin: 5px 0;
}

li > input {
    padding: 5px;
    font-size: 1rem;
    border: solid 1px #0d6199;
    border-radius: 4px;
}

li > input:focus {
    outline: none;
    border: solid 2px #0d6199;
}

#form-page-number {
    width: 25%;
}

#form-mark-read {
    transform: scale(1.3);
}

#form-submit {
    margin: 0;
}

#error {
    font-size: 1rem;
    color: red;
}

footer {
    margin-top: auto;
    font-family: "pt";
    font-weight: bold;
    color: #2e84bf;
}

a {
    color: currentColor;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
